/* Import Tailwind properly */
@import "tailwindcss";

.bg-action{
    background-color: blueviolet;
}

.text-action{
    color: blueviolet;
}

.bg-muted{
    background-color: #fefefe;
}


.wmde-markdown ul {
  list-style-type: disc ;
  padding-left: 2rem ;
}

.wmde-markdown ol {
  list-style-type: decimal ;
  padding-left: 2rem ;
}



